 
<div class="row text-center"> 
	<div class="col ">
		<img src="img/logooriginal.png" class="img-responsive" style="width:100%;"/>
	</div>
</div><br><br>  
<div class="row text-center">
	<div class="col ">
		<input type="button" 
		class="  btn-black-background-green" 
		value="Entrar con Facebook"   />
	</div>
</div>
<div class="row text-center">
	<div class="col "> 
		<input type="button" 
		class="control-box-login btn-black-background-green" 
		value="Entrar con Email" 
		ng-click="slideEmail()" />
	</div>
</div><br> <br>
<div class="row">
	<div class="col text-center">  
		  <div ng-click="slideSingup()" class="title">¿No tienes cuenta? <b><u>Registrate ahora!</u></b></div>
	</div>
</div>



 